body{margin:10px}

.mycontainer {
    display: grid;
    grid-template-columns: 45px auto;
    justify-items: start;
    align-items: center;
    grid-gap: 5px 10px;
}

.mycontainer2 {
    display: grid;
    grid-template-columns: auto-fill;
    justify-items: start;
    align-items: center;
    grid-gap: 5px 10px;
}

.mycontainer3 {
    display: grid;
    grid-template-columns: 100px 50px 50px 60px auto;
    justify-items: start;
    align-items: center;
    grid-gap: 0px 10px;
}

.item-2 {
    grid-column-start: span 3;
}

.item-3 {
    grid-column-start: 2;
    grid-column-end: 6;
}

.media_fullscreen{
width:100%;height:100%
}

.media_normal{
position: relative;width: 100%;height: 0;padding-bottom: 56.25%;z-index:1;
}


@media only screen and (max-width: 1023px){
    .myvideo{
        position: relative;
    }
}

@media only screen and (min-width: 1024px){
    .myvideo{
        position: relative;width: 640px;height: auto;
    }
    .mybody{
        margin-left:auto;margin-right:auto;width: 640px;
    }
}

@media only screen and (max-width: 600px){
    .video-js .vjs-time-control{display:none !important;}
    .video-js .vjs-remaining-time{display: none !important;}
}

@media only screen and (min-width: 601px){
    .video-js .vjs-time-control{display:block !important;}
    .video-js .vjs-remaining-time{display: none !important;}
    .video-js .vjs-time-divider{min-width: 0.5em !important;padding-left: 0.25em !important;padding-right: 0.25em !important;}
}
